node_modules/
.idea/

src/*.d.ts


/src/pages/Home/Home.module.scss.d.ts
/src/components/Header/Header.module.scss.d.ts
/src/components/Button/Button.module.scss.d.ts
/src/components/Layout/Layout.module.scss.d.ts
/src/components/Parallax/Parallax.module.scss.d.ts
/Karla/
/src/pages/NotFound/NotFound.module.scss.d.ts
/src/pages/Pokedex/PokedexPage.module.scss.d.ts
/src/components/PokemonCard/PokemonCard.module.scss.d.ts
/src/pages/Pokemon/PokemonPage.module.scss.d.ts
/src/components/Filter/Filter.module.scss.d.ts
